[Unit]
Description=Tileserver for %I
After=network.target postgresql.service

[Service]
User=tileserver
WorkingDirectory=/opt/tileserver/workdir/
ExecStart=/path/to/this/git/start_gunicorn.sh %I
PrivateTmp=true
Restart=always

[Install]
WantedBy=multi-user.target
 
